<div>
    <h2 id="page-heading">
        <span jhiTranslate="jhispterOrclApp.tarea.home.title">Tareas</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-tarea" [routerLink]="['/tarea/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="jhispterOrclApp.tarea.home.createLabel">
            Create new Tarea
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="tareas">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="jhispterOrclApp.tarea.descripcion">Descripcion</span></th>
            <th><span jhiTranslate="jhispterOrclApp.tarea.estado">Estado</span></th>
            <th><span jhiTranslate="jhispterOrclApp.tarea.fechaCreado">Fecha Creado</span></th>
            <th><span jhiTranslate="jhispterOrclApp.tarea.fechaPrevistoInicio">Fecha Previsto Inicio</span></th>
            <th><span jhiTranslate="jhispterOrclApp.tarea.fechaInicio">Fecha Inicio</span></th>
            <th><span jhiTranslate="jhispterOrclApp.tarea.fechaFinal">Fecha Final</span></th>
            <th><span jhiTranslate="jhispterOrclApp.tarea.horasPrevisto">Horas Previsto</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let tarea of tareas ;trackBy: trackId">
                <td><a [routerLink]="['/tarea', tarea.id, 'view' ]">{{tarea.id}}</a></td>
                <td>{{tarea.descripcion}}</td>
                <td jhiTranslate="{{'jhispterOrclApp.TareasEstado.' + tarea.estado}}">{{tarea.estado}}</td>
                <td>{{tarea.fechaCreado | date:'medium'}}</td>
                <td>{{tarea.fechaPrevistoInicio | date:'medium'}}</td>
                <td>{{tarea.fechaInicio | date:'medium'}}</td>
                <td>{{tarea.fechaFinal | date:'medium'}}</td>
                <td>{{tarea.horasPrevisto}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/tarea', tarea.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/tarea', tarea.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'tarea', { outlets: { popup: tarea.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
