<div>
    <h2 id="page-heading">
        <span jhiTranslate="jhispterOrclApp.proyecto.home.title">Proyectos</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-proyecto" [routerLink]="['/proyecto/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="jhispterOrclApp.proyecto.home.createLabel">
            Create new Proyecto
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="proyectos">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="jhispterOrclApp.proyecto.descripcion">Descripcion</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let proyecto of proyectos ;trackBy: trackId">
                <td><a [routerLink]="['/proyecto', proyecto.id, 'view' ]">{{proyecto.id}}</a></td>
                <td>{{proyecto.descripcion}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/proyecto', proyecto.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/proyecto', proyecto.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'proyecto', { outlets: { popup: proyecto.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
